.header{ 
    padding: 0.5rem 0;
    font-size: 1.2rem;

    position:sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(226, 226, 226);
    &__container{
        // position: relative;
        // display: flex;
    }
    &__row{            
        // display: flex;
        // justify-content: space-between;
    }
    &__title{
        font-weight: bold;
    }
    &__link{
        color: #000;
        transition: all 0.25s ease-in-out;

        &--active,
        &:hover {
            text-decoration: none;
            // color: var(--primary);
            color: deeppink;
        }

        &--project{
            padding-right: 2rem;
        }
        &--signin{
            
        }
    }
 }